html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/backgroundReduced.jpg");
  background-size: cover;

  /* background: #000428; 
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  );
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); */

  font-family: "PT Sans", sans-serif;
  width: 100%;
  margin: auto;
}

#home {
  font-size: 2rem;
}

.image {
  width: 100%;
  margin: auto;
}

.explanation {
  padding: 0.5rem;
  font-size: 1.4rem;
}
